{
    "importOrder": [
        "^react",
        "<THIRD_PARTY_MODULES>",
        "^features/(.*)$",
        "^components/(.*)$",
        "^hooks/(.*)$",
        "^constants/(.*)$",
        "^model/(.*)$",
        "^utils/(.*)$",
        "^(?!.*[.]css$)[./].*$",
        ".css$"
    ],
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "plugins": [
        "@trivago/prettier-plugin-sort-imports"
    ],
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": false,
    "printWidth": 100,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": false,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "none",
    "useTabs": false,
    "vueIndentScriptAndStyle": false
}
